<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FlaskVA – Flask Vulnerable App</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" href="/static/kaled.aljebur.ico" type="image/x-icon" />
</head>
<body>
      <nav class="top-nav">
    <div class="nav-container">
      <a href="/" class="logo">FlaskVA</a>
      <div class="nav-links">
        <!-- <a href="/">Home</a> -->
        <a href="/help">Help</a>
        <!-- <a href="/security">Security</a> -->
        <a href="/sqli">SQLi</a>
        <a href="/upload">Upload</a>
        <a href="/command">Command</a>
        <a href="/xss">XSS</a>
        <a href="/ssrf">SSRF</a>
        <a href="/idor">IDOR</a> 
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
