{% extends 'base.html' %}
{% block content %}
<h2>Help Page</h2>
<p>Use this app to test security vulnerabilities in a safe environment.</p>
<ul>
  <li>Multiple security levels: low to impossible</li>
  <li>Do not expose this to the public internet</li>
</ul>
      <h2>📫 Contact</h2>
      <p>
        Created by: <strong>Kaled Aljebur</strong><br />
        Email:
        <a href="mailto:kaledaljebur@gmail.com">kaledaljebur@gmail.com</a>
      </p>

      <footer>
        <p>
          FlaskVA – Designed for education and ethical hacking
          training.
        </p>
      </footer>
{% endblock %}
