{% extends 'base.html' %} {% block content %}
<h2>Help Page - Under construction</h2>
<p>Use this app to test security vulnerabilities in a safe environment.</p>
<ul>
  <li>
    Use may use the default credentials for the main login form:
    <b>admin/mustang</b>.
  </li>
  <!-- 
  <li>Multiple security levels: low to impossible</li>
  -->
  <li>Do not expose this to the public internet.</li>
  <li>
    Please refer to the lectures for attacking scenarios, I will upload the
    scenarios here when I can.
  </li>
</ul>
{% include 'footer.html' %} {% endblock %}
