{% extends 'base.html' %} {% block content %}
<h1>
  Welcome to <span class="highlight">FlaskVA</span> – Flask Vulnerable App
</h1>
<p>
  This lightweight platform Flask(Python)-based simulates common web application
  vulnerabilities for educational use.
</p>
<!-- <p>Current Security Level: <strong>{{ security }}</strong> [<a href="/security">Change</a>]</p> -->
<ul>
  <li><a href="/sqli">SQL Injection</a></li>
  <li><a href="/upload">File Upload</a></li>
  <li><a href="/command">Command Injection</a></li>
  <li><a href="/xss">Cross Site Scripting (XSS)</a></li>
  <li><a href="/ssrf">Server-Side Request Forgery (SSRF)</a></li>
  <li><a href="/idor">Insecure Direct Object Reference (IDOR)</a></li>
</ul>
<p><a href="/help" class="btn-help">Need help?</a></p>
{% endblock %}
